<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Awesamsara</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Volunteer there matches its users with volunteer opportunities around the nation"/>
    <meta name="keywords" content="charity volunteer travel"/>
    <!-- Awesomplete Autocomplete -by Lea Verou -->
    <link rel="stylesheet" href="/assets/css/awesomplete.css" />
    <!-- Awesomplete Autocomplete -by Lea Verou -->
    <script src="/assets/javascript/awesomplete.js"></script>
	<!--Google fonts-->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i|Pacifico" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Font Awesome link -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css"  media="screen,projection"/>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <!-- Site specific overrides -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

</head>
<body>
 <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            {{#unless logged_in}}
            <li><a href="/users/sign-in" class="waves-effect waves-light btn">Sign In</a></li>
            <li><a href="/users/new" class="waves-effect waves-light btn">Sign Up</a></li>
            {{/unless}}

            {{#if logged_in}}
            Welcome {{name}}!<br>
            <a href="/users/sign-out" class="waves-effect waves-light btn">Sign Out</a>
            {{/if}}
        </ul>
      </div>
    </nav>
  </div>

{{!-- <p class="sign" align="right">
    
</p> --}}


{{{ body }}}


    <!--jquery-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
     <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <!-- Local javascript operations files -->
    <script type="text/javascript" src="/assets/javascript/app.js"></script>
    <script type="text/javascript" src="/assets/javaScript/materialize.min.js"></script>
</body>
</html>