<div class="main-container"> <!-- container for all website content -->
    <header>  <!--tpyewriter effect and sign in for users -->
        <div id="typewriter">
            <h1 class="typewrite" data-period="2000" data-type='["Seattle,WA","Los Angeles,CA","Orlando,FL","Volunteer There...", "Volunteer Anywhere", "Your Adventure Awaits!"]'>
                <span class="wrap"></span>
            </h1>
        </div>
    </header>
    <div class=mainContent><!--Content that explains what we do -->
        <div class="row" id="information">
            <h1 class="whatWeDo">What do we do?</h1>
            <h2>We help you relax and give back to the communities you visit</h2>
            <div class="col-sm-4" id="destination_explained">
                <a href="/trips/expedia" class="expediasearch">
                    <div class="plane"><i class="fa fa-plane" aria-hidden="true"></i> | <i class="fa fa-bed" aria-hidden="true"></i></div>
                    <p>Pick a flight and a place to rest up for your next adventure! </p>
                </a>
            </div>
            <div class="col-sm-4">
                <div class="volunteer_explained">
                    <a href="/trips/volunteer" class="volsearch">
                        <div class="heart"><i class="fa fa-heart" aria-hidden="true"></i></div>
                        <p>Pick the cause you believe in to give back to the community you're visiting.</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="itinerary_explained">
                    <a href="/trips/itinerary" class="itinerary">
                        <div class="itin"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                        <p>Plan your itinerary!</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div><!-- end of  container -->

