<div class="container">
    <div class="row col-md-12">
            <h1>Volunteer Opportunities for Web Developers</h1>
            <div id="webvol"></div>
            <div id="notes"></div>
    </div>
</div>