<div class="container">
    <div class="row">
        <div id="hotels" class="col-lg-12">
            <h1>Flights</h1>
            <div class="hotels"></div>
            <div>
            </div>
        </div>
    </div>
</div>